#loader{
	margin-top:3.5em;
	min-height:600px;
}

#duascol {
	padding:0.5em;
	column-count:2;
	-moz-column-count:2;
	-webkit-column-count:2;
}

#assunto {
	color:#0E6B30;
	text-emphasis:accent;
	font-weight:bold;

}

.treinamentofooter{
	padding:1.5em;
	background:#111;
	color:#aaa;
}


