/* CSS Document */

#loader{
	margin-top:3.5em;
	min-height:15vw;
}

#icticon{
	
	padding-bottom:6px;
}

#duascol {
	padding:0.5em;
	column-count:2;
	-moz-column-count:2;
	-webkit-column-count:2;
}

#assunto {
	color:#0E6B30;
	text-emphasis:accent;
	font-weight:bold;

}

.mainfooter{
	padding:0.5em;
	color:#aaa;
}

.footertext{
	color:white;
	line-height: 54px;
}

.navbar{
	min-height: 66px;
}

.navbar-default{
	background:#0074ae;	
}

.nav div a {
	text-decoration: none !important; 
}

.navbar-nav > li > a {
 line-height: 40px;
}

.navbar-brand {
 line-height: 40px;
}

.navbar .navbar-collapse { 
  text-align: center; 
}

.navbar-default .navbar-nav > li > a{
	
	
	color:white;
	
	
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
	
	background:#0093dd;
	color:black;
	
	
}/*Muda o Hover e Focus dos links no toggle da Navbar*/

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: white;
}

.to-functions{
	
	min-height:300px;
	text-align: center;
	vertical-align: middle;
	line-height: 300px;
	font-family:Roboto;
	font-weight: bold;
	font-size:2vw;
	background: linear-gradient(to bottom, #6D9B28 , #8BC633);
	color:#FFFFFF;
	margin-top:10vw;
	
}

a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
  background: #8BC633;
  border-width:thick;
  
}

.text-titulo {
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size:2vw;
	color:0074ae;
}

.treinamentofooter{
	padding:1.5em;
	background:#111;
	color:#aaa;
}

#conteudo_mensagem{
	height: 8em;

}