/* CSS Document */

.wrap{
  margin:0px auto;
  width:980px;
  clear:both;
}
#dataYear{
  background:#ED473B;
  right:10%;
  top:0px;
  color:white;
  padding:0px 10px;
  position:absolute
}

#footer{    
	color:#969696;	
	padding:1.5em;
    position:absolute;
    bottom:0; 
    width:100%;
    margin-top: 10px;
}

.header{ 
  alignment-adjust:middle;
  min-width:400px;
  width:90%; 
  position:fixed;
  top:50px;
  margin:0px auto; 
  background:#fff;
  z-index:1;
  padding-left:15%;
  padding-right:15%;
  font-size:35px; 
  color:#c9c9c9;
  box-shadow:0 0 5px 0px #ccc; 
}

.superheader{
	z-index:3;
}
.timeline{
  width: 98%;
  /*margin:10px 0px 300px 0px; */
  padding-top:50px;
  float: auto;
  /*overflow:auto;
  border-bottom:2px solid #f1f1f1;*/

}
.timeline:before {
  content: '';
  display: block;
  left: 100%;
  top: 120px;
  width: 100%;
  height: auto;
  background: #666;
}
.year{
  transition: all 0.4s ease-in-out;
  width: 100%; 
  margin-bottom:50px;
  float: left; 
}
.evt{
  min-height:100px;
  width:100%; 
  margin-bottom:20px;
  position:relative;
  float: left;
}

/*.evt:nth-child(even) .in{
  float:left;
}
.evt:nth-child(odd) .in{
  float:right;
}*/

p{  
  padding: 10px;
  margin: 0;
  font-size: 14px;
  background: #f1f1f1;
  color: #656565;
}
h2{
  padding: 15px;
  margin: 0;
  color: #333;
  font-size: 20px;
  letter-spacing: -1px;
  position: relative;
}

.in h2{
  border-radius: 5px 5px 0 0;
  background:#c1c1c1;

}
.date{
  transition: all 0.2s ease-in-out;
  display: block;
  width: 80px;
  height: 70px;
  position: absolute;
  top: -10px;
  left: 95%;   
  line-height:60px;
  border-radius: 100%;
  font-size: 12px;
  background: #CADCC8;
  color:#333;
  font-weight:900;
  text-align:center;
  border: 2px solid #fff;
  z-index:2;
}
.in{
  width: 100%; 
  float: left;
  margin: 5px 0 0 0;
}
.activeYear{
  background:#ED473B; 
  color:#fff;
  border-color:#fff;
}

.timeline-footer {
    padding: 5px 15px;
	float: left;
	width:100%;
    background-color:#CFCFCF;
}
.timeline-footer p:first-of-type { 
	float: left;
	width:80%;

	}
.timeline-footer > p:last-of-type {
    float: right;
	width:20%;
	cursor: pointer;
	text-align:end;
	text-height:max-size;
	alignment-adjust:central;
}



